/* Tooltip container */
.tooltip {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 6px;
    border-radius: 6px;
    background-color: black;
}

/* Tooltip text */
.tooltip .tooltiptext {
    width: 120px;
    color: #fff;
    text-align: center;
}
