.container {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 10px;
	width: 100%;
}

.angryBg {
	background: #FFDEDE;
	border-left: 1px solid #F64F5D;
	color: #BA5E5E;
}

.kindBg {
	background: #E0F4E4;
	border-left: 1px solid #359E2F;
	color: #359E2F;
}

.gridContainer {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	grid-template-rows: 1fr 1fr;
	gap: 8px 8px;
	grid-template-areas:
    "site-info__item1 site-info__item2 site-info__item3"
    "site-info__item1 site-info__item4 site-info__item5";
}

.imgContainer {
	grid-area: site-info__item1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	width: 40px;
	height: 40px
}

.gridItem {
	display: flex;
	justify-content: left;
}
.gridItem1 { grid-area: site-info__item2; }
.gridItem2 { grid-area: site-info__item3; }
.gridItem3 { grid-area: site-info__item4; }
.gridItem4 { grid-area: site-info__item5; }